.hero-banner{
    position:relative;
    overflow:hidden;
    padding:80px 0;
    background:linear-gradient(
        90deg,
        #004896 0%,
        #2D83DF 55%,
        #001730 100%
    );
}

/* KONTEN */

.hero-content{
    color:white;
}

.hero-title{
    font-family:"IBM Plex Mono", monospace;
    font-size:72px;
    font-weight:700;
    line-height:1;
    margin-bottom:10px;
}

.hero-subtitle{
    font-family:"Karma", serif;
    font-size:42px;
    font-weight:700;
    color:#FFA600;
    margin-bottom:20px;
}

.hero-text{
    font-family:"Karma", serif;
    font-size:18px;
    opacity:.9;
    margin-bottom:40px;
}