/* TABLET */
@media (max-width: 992px) {
  .hero-title {
    font-size: 70px;
  }

  .hero-subtitle {
    font-size: 20px;
  }

  .for-now {
    right: -50px;
    font-size: 18px;
  }

  .benefit-item {
    font-size: 18px;
  }

  .feature-wrapper {
    margin-top: 40px;
  }

  .hero-content {
    text-align: center;
  }

  .car-card {
    margin-bottom: 20px;
  }

  .contact-info {
    margin-bottom: 50px;
  }

  .footer-section {
    text-align: center;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-heading {
    justify-content: center;
  }

  .footer-brand p,
  .footer-address p {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-contact ul li {
    justify-content: center;
  }

  .car-wrapper {
    display: none;
  }

  .login-card {
    padding: 40px;
  }

  .login-title {
    font-size: 42px;
  }
}

/* HANDPHONE */
@media (max-width: 576px) {
  .hero-title {
    font-size: 52px;
  }

  .for-now {
    display: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
  }

  .car-feature {
    flex-direction: column;
  }

  .contact-form-wrapper {
    padding: 25px;
  }

  .contact-title,
  .address-title,
  .form-title {
    font-size: 28px;
  }

  .footer-logo {
    flex-direction: column;
  }

  .footer-logo h3 {
    font-size: 26px;
  }

  .footer-heading h4 {
    font-size: 24px;
  }

  .login-card {
    padding: 30px 20px;
    border-radius: 25px;
  }

  .login-title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .form-label {
    font-size: 18px;
  }

  .btn-login {
    font-size: 22px;
  }

  .bottom-text {
    font-size: 16px;
  }
}
